# Python
__pycache__/
*.pyc

# Backup
Backup_DB/
*.zip

#ARTES
ARTES/

#SCRIPTS AUXILIARES
SCRIPTS_AUXILIARES

# Logs / Reports
Reports/
*.log

# Cache específico
*/__pycache__/

# Ambiente
.env
.venv/

.history/

*.code-workspace

NOVA_INTERFACE/
engine_sync_config.json

_github_token.txt